:root {
  /* Background */
  --color-background-bg-primary-inverse: #101828;

  /* Text */
  --color-text-text-primary-inverse: #ffffff;

  /* Icon */
  --color-icon-icon-primary-inverse: #ffffff;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-md: 8px;
  --spacing-xl: 16px;
}
